@import '../../assets/_color.scss';

.dashboard {
    display: flex;
    height: 100%;
}

.leftbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80px;

    background-color: $grey-900;

    &-menu {
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            height: 30px;
            margin-right: 16px;
            border-radius: 0px 15px 15px 0px;
            color: $color-default;
            background-color: $color-default;
            list-style: none;

            svg {
                vertical-align: bottom;
                margin-bottom: -3px;
            }

            &:not(:last-of-type) {
                margin-bottom: 48px;
            }
    
            &.active {
                color: $color-primary;
            }
        }
    }
}

.body {
    flex: 1;
    text-align: left;
    padding: 32px;
}
h3 {
    margin-block-end: 0.5em;
}

.manager-list {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 6px;
        &:not(:first-of-type) {
            border-top: 1px solid $color-border;
        }
    }
}

.manager-form {
    display: flex;
    gap: 16px;

    input {
        flex: 1;
        padding: 4px;
        border: none;
        outline: none;
        border-bottom: 1px solid $color-border;
    }
}


.flag-list {
    margin: 0;
    padding: 0;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 6px;
        &:not(:first-of-type) {
            border-top: 1px solid $color-border;
        }
    }
}

.rightbar {
    display: flex;
    flex-direction: column;
    background-color: $grey-900;
    text-align: left;

    padding: 48px;
    width: 400px;

    color: $color-default;

    .iconbar {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

        margin-bottom: 36px;

        li {
            margin: 0 16px;
        }
    }
    
    .music_list {
        flex: 1;
        padding: 0;
        margin: 0;
        margin-top: 16px;

        overflow-y: scroll;
    
        &-header {
            display: flex;
            justify-content: space-between;

            .btn {
                display: flex;
                font-size: 14px;
                align-items: center;
                
                color: $color-text--secondary;

                svg {
                    margin-left: 4px;
                }
            }
            
            h3 {
                margin: 0;
            }
            
            button {
                background: none;
                outline: none;
                border: none;

            }
        }

        li {
            padding: 8px 12px;

            border-left: 3px solid $color-border;

            &:first-of-type {
                border-left: 3px solid $color-primary;
            }

            p {
                margin: 0px;
                &.title {
                    font-weight: bold;

                    svg {
                        color: $color-default;
                        margin-right: 8px;
                    }
                }
                &.subtitle {
                    font-size: 12px;
                    color: $grey-100;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 16px;
            }
        }
    }
}