@import "styles/color";

h1 {
  margin-bottom: 28px;
}

.topbar {
  display: flex;
  height: 32px;
  align-items: center;
  margin-bottom: 12px;

  .navigator {
    display: flex;
    gap: 8px;

    svg {
      cursor: pointer;
      user-select: none;
    }

    button {
      padding: 0 12px;

      border-radius: 4px;
      background-color: $color-main;
      outline: none;
      border: none;

      color: $color-white;

      cursor: pointer;
      user-select: none;

      &:active {
        box-shadow: inset 0px 0px 10px rgba(100, 65, 164, 0.5);
      }
    }
  }

  h2 {
    flex: 1;
  }
}

.dates {
  border-top: 2px solid $color-dark-gray-30;
}
