@import 'styles/color';

h1 {
  margin-bottom: 28px;
}

.table {
  .row {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 44px;
    padding: 10px 0;

    border-bottom: 1px solid $color-dark-gray-20;
  }

  .header {
    color: $color-dark-gray-30;
    border-bottom: none;
  }

  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .twitchId {
    width: 150px;
  }
  
  .username {
    width: 150px;
  }
  
  .ticketPiece {
    width: 50px;
  }
  
  .ticket {
    width: 50px;
  }
  
  .etc {
    flex: 1;
  }
}