.login {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    span {
      display: inline-block;
      width: 7rem;
      text-align: left;
    }

    input {
      border: none;
      outline: none;
      width: 15rem;
      border-bottom: 1px lightgrey solid;

      &:active, &:focus {
        border-bottom: 1px black solid;
      }
    }
  }

  .buttons {
    margin-top: 2rem;

    button {
      padding: 8px;
      width: 150px;
  
      border: none;
      cursor: pointer;
  
      &:active, &:focus, &:hover {
        background-color: #c0c0c0;
      }

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}