@import 'styles/color';

h1 {
  margin-bottom: 24px;
}

.pane {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 8px;
  }
}

.add-song {
  .form {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 30px;

    input {
      padding: 0 8px;
      flex: 1;
      border: none;
      outline: none;
      border-bottom: 1px $color-black solid;
    }

    button {
      padding: 0 12px;

      border-radius: 4px;
      background-color: $color-main;
      outline: none;
      border: none;

      color: $color-white;

      cursor: pointer;
    }
  }
}