@import "styles/color";

.dashboard-root {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  background-color: $color-background;

  .sidebar {
    display: flex;
    flex-direction: column;

    width: 270px;
    padding: 50px 30px;

    text-align: center;
  }

  .content {
    padding: 50px;
    min-height: 100%;

    background-color: $color-white;
    border-radius: 40px 40px 0 0;

    &-wrap {
      flex: 1;
      padding-top: 50px;

      height: 100vh;
      max-height: 100vh;
      padding-right: 12px;
      margin-right: 24px;
      overflow-y: auto;
    }
  }

  .playlist {
    width: 400px;
    padding: 50px 30px;
    position: relative;
    transition: margin 0.5s;

    .collapser {
      position: absolute;
      background-color: $color-main;
      height: 40px;
      width: 20px;
      top: 16px;
      left: -20px;
      border-radius: 8px 0 0 8px;

      user-select: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }

    &.collapsed {
      margin-right: -400px;
    }
  }
}
