$color-main: #11C1A7;
$color-white: #FFFFFF;
$color-black: #2E3233;

$color-background: #F7F7F9;

$color-dark-gray-10: #F1F3F8;
$color-dark-gray-15: #E8EDF0;
$color-dark-gray-20: #D5DEE4;
$color-dark-gray-30: #B1BECA;
$color-dark-gray-40: #798794;
$color-dark-gray-70: #303650;
$color-dark-gray-80: #2A2E47;
$color-dark-gray-90: #1E243E;