@import "styles/color";

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0 16px;
  background-color: rgba(black, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &-panel {
    display: flex;
    flex-direction: column;

    padding: 36px;
    border-radius: 16px;
    background-color: white;
    height: 90vh;
    max-width: 1400px;
    width: 100%;

    h2 {
      margin-bottom: 4px;
    }

    .desc {
      margin-bottom: 16px;
      font-size: 14px;
      color: $color-dark-gray-40;
    }

    .divider {
      border-bottom: 1px solid $color-dark-gray-20;
    }

    .body {
      flex: 1;
      display: flex;
      gap: 28px;
      min-height: 0;

      padding-top: 32px;
      padding-bottom: 16px;
    }

    .form-body {
      flex: 2;
      display: flex;
      flex-direction: column;
      height: 100%;

      .account-search {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 16px;
        margin-bottom: 16px;

        input {
          height: 30px;
          width: 100%;
          flex: 1;
          border: none;
          outline: none;
          border-bottom: 1px $color-dark-gray-30 solid;
          font-size: 16px;

          &:focus,
          &:active {
            border-bottom: 1px $color-main solid;
          }
        }
      }

      .account-result {
        overflow: auto;
        border-bottom: 1px solid $color-dark-gray-20;
        flex: 1;

        &.no-result {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &>.no-result {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .account-result-row {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 48px;

        &.header {
          position: sticky;
          background-color: white;
          top: 0;
          z-index: 1;
          color: $color-dark-gray-30;
          font-size: 14px;
          padding: 0;
          height: 30px;
          border-bottom: 1px solid $color-dark-gray-20;

          li {
            height: 100%;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid $color-dark-gray-20;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .index {
          justify-content: center;
          flex-basis: 64px;
          font-weight: 700;
        }

        .name {
          flex-grow: 1;
          justify-content: flex-start;
        }

        .company {
          flex-basis: 200px;
        }

        .button {
          flex-basis: 32px;

          cursor: pointer;

          svg {
            margin-top: -2px;
            color: $color-dark-gray-30;
            margin-right: 8px;

            &.delete {
              color: $color-danger;
            }
          }
        }
      }
    }

    .selected-body {
      flex: 1;
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 4px;
      }

      .selected-list {
        overflow: auto;
        margin-top: 8px;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          height: 48px;
          border: 1px solid $color-dark-gray-20;
          border-radius: 4px;
          padding: 0 16px;
          font-size: 14px;
          padding-top: 2px;

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          .button {
            flex-basis: 32px;

            user-select: none;
            cursor: pointer;
            color: $color-danger;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      padding-top: 24px;
      border-top: 1px solid $color-dark-gray-20;

      button {
        padding: 0 18px;
        height: 42px;

        font-size: 18px;
        background-color: $color-dark-gray-20;

        border-radius: 4px;
        outline: none;
        border: none;

        padding-top: 1px;
        font-weight: 500;

        cursor: pointer;

        &:active, &:hover {
          background-color: $color-dark-gray-30;
        }

        &.primary {
          background-color: $color-main;
          color: $color-white;

          &:active, &:hover {
            background-color: $color-main-dark;
          }
        }
      }
    }
  }
}