html {
  background-color: transparent;
}

.broadcast {
  text-align: left;

  ul, li {
    padding: 0;
    margin: 0;

    h1 {
      margin: 0;
      margin-bottom: 4px;
    }
    p {
      margin: 0;
      margin-bottom: 12px;
    }
  }
}