@import 'styles/color';

.root {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 8px;

  * {
    user-select: none;
  }
  
  .index {
    margin-right: 1rem;
    width: 18px;

    text-align: center;
    font-size: 18px;
    // font-weight: bold;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .requestor {
      font-size: 14px;
      color: $color-dark-gray-40;
    }
  }
}
