// 색상에 따라 구분
$white-color: white;
$black-color: black;

$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #4CAF50; //$color-success
$green-700: #388E3C;
$green-900: #1B5E20;

$pink-50: #FCE4EC;
$pink-100: #F8BBD0;
$pink-200: #F48FB1;
$pink-300: #F06292;
$pink-500: #E91E63;

$red-25: #FCF5F3;
$red-50: #FFEBEE;
$red-75: #FFDDE0;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-500: #F44336; //$color-danger
$red-700: #D32F2F;
$red-900: #B71C1C;
$red-950: #8A0D0D;
$red-980: #630000;

$purple-50: #F3E5F5;
$purple-100: #E1BEE7;
$purple-200: #CE93D8;
$purple-300: #BA68C8;
$purple-400: #AB47BC;
$purple-500: #9C27B0;
$purple-600: #8E24AA;
$purple-700: #7B1FA2;
$purple-800: #6A1B9A;
$purple-900: #4A148C;

$amber-300: #FFD54F;
$amber-500: #FFC107;
$amber-700: #FFA000;
$amber-900: #FF6F00;

$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-700: #F57C00;
$orange-900: #E65100;

$deep-orange-50: #FBE9E7;
$deep-orange-100: #FFCCBC;
$deep-orange-200: #FFAB91;
$deep-orange-300: #FF8A65;
$deep-orange-400: #FF7043;
$deep-orange-500: #FF5722; //$color-warning
$deep-orange-700: #E64A19;
$deep-orange-900: #BF360C;

$deep-purple-50: #EDE7F6;
$deep-purple-100: #D1C4E9;
$deep-purple-200: #B39DDB;
$deep-purple-300: #9575CD;
$deep-purple-400: #7E57C2;
$deep-purple-500: #673AB7; //$color-info
$deep-purple-600: #5E35B1;
$deep-purple-700: #512DA8;
$deep-purple-800: #4527A0;
$deep-purple-900: #311B92;
$deep-purple-950: #051060;

$indigo-300: #7986CB;
$indigo-400: #5C6BC0;
$indigo-500: #3F51B5;
$indigo-700: #303F9F;

$yellow-50: #FFFAE1;
$yellow-100: #FFF9C4;
$yellow-300: #FFF176;
$yellow-500: #FFEB3B;
$yellow-700: #FBC02D;
$yellow-900: #F57F17;

$cyan-100: #B2EBF2;
$cyan-300: #4DD0E1;
$cyan-500: #26C6DA;
$cyan-700: #0097A7;
$cyan-900: #006064;

$teal-50: #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-700: #00796B;
$teal-900: #004D40;

$brown-50: #EFEBE9;
$brown-100: #D7CCC8;
$brown-200: #BCAAA4;
$brown-300: #A1887F;
$brown-400: #8D6E63;
$brown-500: #795548;
$brown-700: #5D4037;
$brown-900: #3E2723;

$blue-50: #EEEBFF;
$blue-75: #D8DDFF;
$blue-100: #BBCAFB;
$blue-200: #90B5F9;
$blue-300: #5CA8FF;
$blue-400: #3292FF;
$blue-500: #0078FF;
$blue-600: #0061FF;
$blue-700: #0053F4;
$blue-800: #0044E0;
$blue-900: #0038AE;

$light-blue-50 : #e1f5fe;
$light-blue-100 : #B3E5FC;
$light-blue-200 : #81D4FA;
$light-blue-300 : #4FC3F7;
$light-blue-400 : #29B6F6;
$light-blue-500 : #03A9F4;
$light-blue-600 : #039BE5;
$light-blue-700 : #0288D1;
$light-blue-800 : #0277BD;
$light-blue-900 : #01579B;

$grey-10: #FBFBFB; //$color-background
$grey-20: #F7F7F7;
$grey-25: #F4F4F4;
$grey-50: #FAFAFA; //$color-background:hover, $color-default, $color-code-background
$grey-75: #D7E2EB; //$color-border
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0; //$color-text-secondary
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-880: #353535;
$grey-900: #212121; //$color-code-background--dark, $color-text--primary
$grey-920: #2B2B2B; //$color-table-background--dark
$grey-940: #232323; //$color-border--dark
$grey-990: #202020;
$grey-999: #151515;

$color-background: $grey-10;
$color-text--primary: $grey-900;
$color-text--body: $grey-700;
$color-text--secondary: $grey-300;
$color-border: $grey-75;
$color-border--light: $grey-50;
$color-border--hover: $grey-200;
$color-border--dark: $grey-940;
$color-table-background: rgba(50,50,144,.02);
$color-table-background--dark: $grey-920;

$color-default: $grey-50;
$color-default--hover: $grey-100;
$color-primary: $blue-500;
$color-primary--hover: $blue-700;
$color-light-primary--hover: $blue-100;
$color-hyperlink: #0366d6;
$color-hyperlink--hover: #0059BE;
$color-info: $deep-purple-500;
$color-info--hover: $deep-purple-700;
$color-success: $green-500;
$color-success--hover: $green-700;
$color-warning: $orange-500;
$color-warning--hover: $orange-700;
$color-danger: $red-500;
$color-danger--hover: $red-700;